##########################################################################################################################################################################################################################################

--> Version de Python

Python 3.13.0

--> Versions pour les tests Aruco et Calibrage caméra

djitellopy 2.5.0
numpy 2.1.2
opencv-contrib-python 4.10.0.84
opencv-python 4.10.0.84
pip 24.2
pygame 2.6.1
pillow 11.0.0
pyzbar 0.1.9
av 13.1.0